.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}
.active {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}
.myModalContent {
  padding: 10px 3px;
  border-radius: 5px;
  background: var(--White);
  max-width: 550px;
  width: 100%;
  border: 2px solid black;
  @media (max-width: 750px) {
    max-width: 450px;
  }

  @media (max-width: 400px) {
    max-width: 340px;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid teal;
}
.title {
  font-size: 20px;
  text-align: center;
  @media (max-width: 750px) {
    font-size: 16px;
  }

  @media (max-width: 400px) {
    font-size: 13px;
  }
}
.name_slot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.money_container {
  line-height: 30px;
}
.image_slot,
.image {
  width: 60px;
}

.count,
.total {
  font-size: 20px;
  max-width: 150px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 750px) {
    font-size: 16px;
  }

  @media (max-width: 400px) {
    font-size: 12px;
  }
}
.money_info {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: left;
}

.close {
  cursor: pointer;
  display: grid;
  justify-content: flex-end;

  img {
    @media (max-width: 400px) {
      width: 20px;
    }
  }
}

.remove {
  margin-left: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  @media (max-width: 400px) {
    font-size: 15px;
  }
}

.id {
  font-size: 20px;

  @media (max-width: 400px) {
    font-size: 14px;
  }
}

.span_name {
  font-weight: bold;
}
.container_sum {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.sum {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0;

  @media (max-width: 750px) {
    font-size: 18px;
  }
  @media (max-width: 400px) {
    font-size: 13px;
  }
}

.span {
  color: #67aa03;
}

.span_value {
  width: 70px;
  text-align: center;
}
.overlov {
  max-height: 300px;
  overflow: auto;
  background: #eceaeacc;
}

.header_basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px 10px 5px;
}
