.card-container {
  display: grid;
  margin-bottom: 50rem;
  text-align-last: left;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 80rem;
  @media (max-width: 1550px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include desktop-small {
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
  }

  @include mobile {
    gap: 1rem;
  }
}

.title-product {
  margin: 45px 0;
  font-size: 50rem;
  text-align: center;
  @include tablet {
    font-size: 35rem;
  }
  @include tablet-small {
    margin: 20px 0;
    margin-bottom: 30rem;
    font-size: 20px;
  }
}

.fruits {
  margin-top: 45px;
}
